body,
#maincontent,
#content {
  width: 100%;
  min-width: 100%;
}

#content {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

#heading {
  display: relative;
  top: 300px;
  position: fixed;
  /*top: 300px*/
}

.heading .divider {
  background-color: black;
  height: 3px;
  width: 100%;
}

#landing {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: -85vh;
  padding: 30px 30px 30px 120px;
  height: 100vh;
  color: white;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.border {
  border-bottom: white solid 2px;
}

#title {
  position: sticky;
  position: -webkit-sticky;
  top: 30px;
  line-height: 3.3rem;
  width: 60%;
}

#sean {
  padding-bottom: 10px;
}

#writer {
  display: inline;
}

.big {
  font-size: 4rem;
  font-weight: 700;
}

.small {
  font-size: 3rem;
  font-weight: 700;
}

.alsobig {
  font-size: 2.5rem;
  font-weight: 400;
}

.alsosmall {
  font-size: 1.875rem;
  font-weight: 400;
}

@media only screen and (max-width: 841px) {
  .big {
    font-size: 3rem;
  }

  .alsobig {
    font-size: 1.875rem;
  }
}

@media only screen and (max-width: 668px) {
  .big {
    font-size: 2.5rem;
  }

  .alsobig {
    font-size: 1.56rem;
  }
}

.fav {
  font-size: 2rem;
  padding-right: 120px;
  position: sticky;
  position: -webkit-sticky;
  top: 70px;
}

.fav i {
  padding-left: 10px;

}

nav {
  display: flex;
  justify-content: space-between;
}

#navigation {
  position: fixed;
  font-family: 'Raleway', sans-serif;

  transform: rotate(270deg);
  z-index: 5;

}

.navone {
  width: 90vh;
  left: 71vw;
  top: 50vh;
}

.navtwo{
  width: 65vh;
  left: 78vw;
  top: 63vh;
}


@media only screen
  and (max-width: 1240px)
   {
  .navone {
    left: 70vw;
  }

  .navtwo {
    left: 77vw;
  }
}

@media only screen and (max-width: 1080px) {
  .navone {
    left: 66vw;
  }

  .navtwo {
    left: 74vw;
  }
}

@media only screen and (max-width: 990px) {
  .navone {
    left: 63.5vw;
  }

  .navtwo {
    left: 72vw;
  }
}

@media only screen and (max-width: 900px) {
  .navone {
    left: 60.5vw;
  }

  .navtwo {
    left: 70vw;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    #navigation {
      font-size: 26px;

    }

    .navone {
      width: 75vh;
      left: 30vw;
      top: 42vh;
    }

    .navtwo{
      width: 65vh;
      left: 39vw;
      top: 50vh;
    }

  #landing {
    top: -93vh;
  }

  #filmography {
    height: 86vh !important;
  }

}



.white {
  color: white;
}

.black {
  color: black;
}

.whitebackground {
  background-color: white;
}

.greybackground {
  background-color: grey;
}

nav .element {
  font-size: 0.75rem;
}

#maincontent {
  margin-top: 30px;
}

#biography {
  display: flex;

  margin: 0 120px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.sections {
  padding-left: 180px;
}

#sectionone .imagecontainer {
  height: 315px;
  padding-right: 20px;
  float: left;
}

#sectiontwo .imagecontainer {
  height: 200px;
  padding-left: 20px;
  float: right;
}

#sectiontwo .images {
  display: flex;
  flex-direction: column;
  float: right;
}

#sectionthree .imagecontainer {
  height: 280px;
  padding-right: 20px;
  float: left;
}

#filmography {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 30px 0;
  height: 70vh;
  border-top: white solid 2px;
  z-index: 100;
}

#filmography .movie {
  display: flex;
  align-items: center;
}

#filmography .inner {
  margin: 0 120px;
  padding-right: 30px;
  max-height: 100%;
}

#filmography .info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 1.3rem;
}

#filmography h1 {
  margin-left: 120px;
}

.buttons {
  display: flex;
  justify-content: center;
}

#donovan {
}

.description {
  width: 55%;
  max-height: 100%;
}

.movie .filling {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;

}

.movie .images {
  display: flex;
  width: 45%;
  justify-content: flex-end;

}

#filmography .images .imagecontainer {
  display: flex;
  justify-content: flex-end;
  height: 320px;
}

.imagecontainer img {
  max-height: 100%;
}
